apiVersion: v1
kind: Secret
metadata:
  name: cloud-config
  namespace: kube-system
type: Opaque
stringData:
  cloud.conf: |
    [Global]
    auth-url=
    username=
    password=
    region=
    tenant-id=
    domain-name=

    [LoadBalancer]
    subnet-id=
    network-id=
    member-subnet-id=
    floating-network-id=

    [BlockStorage]
    ignore-volume-az=true
